rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Products rules for full CRUD access
    match /products/{productId} {
      allow read, write: if true;
    }
    
    // Default rule
    match /{document=**} {
      allow read, write: if true;
    }
  }
}